target/
captive-core/
.soroban/
snapshot.json
!test.toml
*.sqlite
test_snapshots
.vscode/settings.json
.idea
local.sh
.stellar
.zed

bin/stellar
bin/stellar-mcp-macos
bin/stellar-mcp-linux
bin/stellar-mcp-win.exe
node_modules/
